.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Mitr", sans-serif;
  font-weight: 300;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.blue-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 2.5vh;
  padding: 0.4em 1.4em;
  border-radius: 0.4em;
  color: #fff;
  font-family: "Mitr", sans-serif;
  background-color: #0099fd;
  width: 22rem;
  margin-top: 1rem;
  border: 0;
}

.header {
  margin-top: 20px;
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 4vh;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b7aeb4;
  border: 2px solid #b7aeb4;
  border-radius: 20%;
  height: 3vh;
  width: 3vh;
  cursor: pointer;
}

.buttons-left,
.buttons-right {
  display: flex;
  gap: 7px;
}

.wordForm {
  display: flex;
  gap: 7px;
}

.letterInput {
  display: flex;
  text-align: center;
  border-radius: 10%;
  font-size: 55px;
  color: #fff;
  width: 80px;
  height: 80px;
  font-family: "Mitr", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  caret-color: transparent;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}

.letterInput:focus {
  border-bottom: 0.25em solid #4c4347 !important;
  transition: 0.2s;
}

.wordBlockedForm {
  display: flex;
  gap: 7px;
}

.letterBlockedInput {
  display: flex;
  text-align: center;
  background-color: #615458;
  border: 0.125em solid #615458 !important;
  border-radius: 10%;
  font-size: 55px;
  color: #fff;
  width: 80px;
  height: 80px;
  font-family: "Fredoka One", cursive;
  text-transform: uppercase;
  caret-color: transparent;
  outline: none;
}

.infos {
  text-align: center;
  font-size: 2vh;
  margin-bottom: 20px;
}

.infos > p > a {
  color: #ffffffde;
}

#button {
  cursor: pointer;
  transition: 0.2s;
}

#button:hover {
  opacity: 0.8;
}
